* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  /* color: rgb(121, 104, 54); */
  /* color: rgb(185, 153, 54);
  background: #232a34; */
  /* #B97F1E */
  /* rgb(146, 115, 23) */
}
